@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --main-blue: #BDE0F3;
    --main-orange: #FFA500;
    --main-color-text: #323a42;
}

*, *::after, *::before, input, span {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-color-text);
    list-style: none;
}
body {
    min-height: 100vh; 
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
    letter-spacing: 0.07rem;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
}

.section {
    padding-top: 120px;
    height: auto;
    background-color: #fff;
}

.container {
    width: 1140px;
    margin: 0 auto;
    transform: scale(1.0);
}

.title {
    font-weight: 700;
}

.title-center {
    font-weight: 700;
    text-align: center;
    margin-bottom: 6px;
}

.before::before {
    content: '';
    position: absolute;
    left: -10px;
    top: -6px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--main-orange);
    z-index: -1;
}

/*! promo */

.promo {
    min-height: 100vh;
    position: relative;
    background: var(--main-blue) no-repeat url('../img/Background.svg') 50%/cover;
}

.title-fs16 {
    position: relative;
    top:206px;
    left: 10px;
    font-size: 16px;
    line-height: 24px;
    z-index: 1;
}

.title-fs48 {
    position: relative;
    top: 239px;
    font-size: 48px;
}

.btn {
    display: inline-block;
    width: 135px;
    height: 45px;
    background: var(--main-orange);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: border-radius;
    transition-duration: 0.8s;
}
.btn:hover {
    border-radius: 50%;
    transition-property: border-radius;
    transition-duration: 0.5s;
}

.promo__link {
    position: relative;
    top: 270px;
    left: 26px;
    margin-right: 57px;
    text-align: center;
    line-height: 45px;
}

.small-btn {
    transition-property: font-size, color;
    transition-duration: 0.9s;
}
.small-btn:hover {
    font-size: 20px;
    color: var(--main-orange);
    transition-property: font-size, color;
    transition-duration: 0.5s;
}

.social-block {
    position: relative;
}

.social-wrap {
    position: fixed;
    top: 385px;
    left: -115px;
    z-index: 2;
    transform: rotate(-90deg);
}

.block-text {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.block-wand {
    display: inline-block;
    width: 70px;
    height: 2px;
    background-color: var(--main-color-text);
    margin: 0 15px 3px 15px;
}

.block-link {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 1px 0 1px;
    position: relative;
    bottom: -6px;
    transition-property: width, height;
    transition-duration: 1.2s;
}

.block-link:hover {
    width: 30px;
    height: 30px;
    transition-property: width, height;
    transition-duration: 0.8s;
}

.burger{
    position: absolute;
    top: 20px;
    right: 30px;
    transform: rotate(180deg);
    cursor: pointer;
}
.short-wand {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--main-color-text);
    border-radius: 3px;
}

.long-wand {
    display: block;
    width: 36px;
    height: 3px;
    background-color: var(--main-color-text);
    margin: 6px 0 6px 0;
    border-radius: 3px;
}

.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 10;
    left: -100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
}
.menu.active {
    left: 0;
    visibility: visible;
    opacity: 1;
}

.menu__block {
    position: relative;
    width: 345px;
    height: 100%;
    background-color: var(--main-orange);
    z-index: 10;
}

.menu__close img {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 29px;
    height: 29px;
    cursor: pointer;
}


.nav {
    position: relative;
}

.menu__list {
    position: relative;
    top: 140px;
    left: 75px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;  
    list-style: none; 
}

.menu__link {
    max-width: 270px;
}
.menu__link::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--main-orange);
    border: 1px solid var(--main-color-text);
    border-radius: 50%;
    left: -35px;
    margin-top: 10px; 
    transition: all 0.5s;
}
.menu__link:hover::before{
    background-color: rgb(255, 239, 223);
}
.menu__list a {
    color: #fff;
}

.menu__social {
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.75;
}

/*! ABOUT-ME*/


.about-wrapp {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-auto-rows: minmax(245px, auto);
    column-gap: 70px;
    row-gap: 40px;
}
.about-photo {
    grid-column: 1;
    grid-row: 1/3;
    position: relative;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    height: 600px;
    width: 400px;
}

.about-biography {
    position: relative;
}


.title-fs16-about {
    position: relative;
    top: 6px;
    left: 12px;
    font-size: 16px;
    line-height: 24px;
    z-index: 1;
}
.title-fs16-about.before::before {
    top: -6px;
    left: -12px;
}

.title-fs36 {
    position: absolute;
    font-size: 36px;
    line-height: 60px;
    top: 36px;
    left: 0px;
}

.wand-down {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 60px;
    height: 3px;
    background-color: var(--main-orange);
}
.abouit-me__descr {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    top: 120px;
    left: 0px;
}

.about-way {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(110px, auto);
    column-gap: 50px;
    row-gap: 20px;
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.title-about {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 6px;
}

.about-padd {
    position: relative;
    padding-left: 60px; 
}
.about-padd.before::before {
    top: 0px;
    left: 0px;
}

.figure img {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 25px;
    height: 24px;
}

/*!USEFULL*/

.title-skill.before::before {
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
}

.title-usefull {
    font-size: 36px;
    line-height: 60px;
    margin-top: 6px;
}

.wand-down-mod {
    top: 117px;
    left: 50%;
    transform: translateX(-50%);
}

.usefull__block {
    position: relative;
    margin: 100px 60px 0px 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 186px;
}

.education h3, .skill-work h3 {
    font-size: 20px;
    line-height: 30px;
    margin: 0px 0px 45px 0px;
}

.usefull__block img {
    width: 20px;
    height: 25px;
    position: relative;
    top: 4px;

}


.description {
    margin: 12px 0px 45px 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.head {
    position: relative;
}

.icon {
    margin: 0px 16px -6px 18px;
}

.icon.before::before {
    top: 4px;
    left: 0px;
}
.local {
    position: relative;
}
.icon, .local, h4 {
    display: inline-block;
}

.h4 {
    font-size: 14px;
    line-height: 21px;
}
.loc {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.education, .skill-work {
    position: relative;
}

.litle.before::before {
    width: 15px;
    height: 15px;
    top: 7px;
    left: -59px;

}

.wand-vertical {
    position: absolute;
    top: 22px;
    left: -52px;
    background-color: var(--main-color-text);
    width: 1px;
    height: calc(100% - 70px);
}
.wand-horisontal {
    position: relative;
    top: 21px;
    left: -110px;
    background-color: var(--main-color-text);
    width: 51px;
    height: 1px;
}

/*! i-use */

.h2-i-use {
    position: static;
    margin-bottom: 25px;
}

.wand-i-use {
    left: 50%;
    transform: translateX(-50%);
}

.before-skills.before::before {
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
}

.i-use-grid {
    margin: 60px 0px 0px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 13px;
}
.svg-grid {
    width: 100%;
    min-height: 100%;
    transition: all 0.9s;
}

.svg-grid:hover {
    width: 105%;
    height: 105%;
    transition: all 0.6s;
}
.svg-grid img {
    object-fit: unset;
}
.percents {
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 70px);
    grid-auto-rows: minmax(70px, auto);
    column-gap: 45px;
    row-gap: 38px;
}

.percents-col {
    position: relative;
    padding-left: 10px;
}

.percents-col h3 {
    font-size: 14px;
    line-height: 21px;
}

.percents h3.before::before {
    top: -7px;
    left: 0px;
}

.percents-col h3 span {
    position: absolute;
    right: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.volum {
    margin-top: 27px;
    border-radius: 4px;
    height: 14px;
    background-color: var(--main-orange);
}
.gray {
    display: inline-block;
    position: relative;
    top: 48px;
    left: 10px;
    z-index: -1; 
    border-radius: 4px;
    height: 14px;
    width: 100%;
    background-color: #E8E4DE;
}

/*! PORTFOLIO-PHOTO*/

.portfolio-photo-href {
    position: relative;
}
.portfolio-photo-href h2 {
    margin-top: 26px;
}
.portfolio-photo-href wand {
    top: 120px;
}

.before-porfolio {
    position: relative;
    top: 0px;
    z-index: 1;
}
.before-porfolio.before::before {
    left: 50%;
    transform: translateX(-50%);
}

.photo-wrap {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-rows: auto;
    gap: 5px;
}
.portfolio-photo-href .wand-down {
    left: 50%;
    transform: translateX(-50%);
}

.tall {
    grid-row: 1/3;
    grid-column: 4/5;
}
.long {
    grid-row: 2/3;
    grid-column: 2/4 ;
}
.photo img {
    transition: all 0.5s;
}
.photo img:hover {
    transform: scale(1.05);
    border-radius: 3px;
    filter: brightness(110%);
    transition: all 0.5s;
}

/*! Price*/
.section-litle {
    padding-top: 60px;
    min-height: 460px;
    background-color: #fff;
}
.title-price {
    font-size: 16px;
    line-height: 24px;
}

.price .wand-down {
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.price .before::before {
    left: calc(50% + 1px);
    transform: translateX(-50%);
}

.price-wrap {
    margin-top: 90px;
    padding: 0px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(44px, auto);
    column-gap: 220px;
    row-gap: 15px;
}

.price-list {
    padding-left: 25px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: minmax(22px, auto);
    row-gap: 5px;
    font-size: 14px;
    line-height: 21px;
}

.price-price {
    justify-self: end;
}
.span-down {
    grid-column: 1/3;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.price-list .litle.before::before {
    top: 3px;
    left: 7px;
}

/*! contacts */

.contacts .about-wrapp {
    grid-template-rows: minmax(150px, auto);
    row-gap: 0px;
}

.data-out {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    grid-template-rows: 45px 190px;
    row-gap: 30px;
    column-gap: 25px;
}

.text-area {
    grid-row: 2/3;
    grid-column: 1/3;
}

.inputs, .text-area {
    position: relative;
}

.feedback input, textarea {
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    font-size: 12px;
    line-height: 18px;
    resize: none;
}

.label, .area {
    display: inline-block;
    height: 18px;
    width: auto;
    padding: 0px 8px;
    background-color: #fff;
    position: absolute;
    left: 12px;
    top: -9px;
    font-size: 12px;
    line-height: 18px;
}

.contacts {
    position: relative;
    top: -90px;
}
.contact-ways {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

.social-contacts {
    position: absolute;
    top: 162px;
    left: 0;
}

.social-contacts a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0px 20px 20px 0px;
}

.social-contacts a:hover {
    transform: rotate(360deg);
    transition: all 0.6s;
}

.or {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}


form .btn {
    position: absolute;
    bottom: 0px;
    margin-top: 28px;
    border: none;
    width: 219px;
    height: 45px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.police {
    display: inline-block;
    position: relative;
    top: 44px;
    left: 240px;
    width: 350px;
    height: 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.police input {
    display: inline-block;
    position: absolute;
    top: 3px;
    width: 11px;
    height: 12px;
    padding-top: 2px;
}

.police span {
    padding-left: 20px;
}

.police a {
    color: #2306D6;
    text-decoration: underline;
}

@media (max-width: 1450px) {
    .social-wrap {
        display: none;
    }
}
@media (max-width: 1200px) {
    .section {
            padding-top: 110px;
        }
    .container {
        max-width: 960px;
    }
    .i-use-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        justify-content: space-evenly;
    }
    .percents {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 70px);
    }
    .price-wrap {
        column-gap: 120px;
    }
    .contacts .about-wrapp {
        grid-template-columns: 1fr;
        grid-template-rows: 245px 395px;
        column-gap: unset;
        padding-left: 50px;
    }
    .contacts .about-photo {
        display: none;
    }
}

@media (max-width: 992px) {
    .section {
            padding-top: 90px;
        }
    .container {
            max-width: 720px;
        }
    .promo {
        background: var(--main-blue) no-repeat url('../img/Background.jpg')58%/ cover;
    }
    .about-biography .title-fs36 {
        font-size: 34px;
    }
    .about-wrapp {
        grid-template-columns: 300px auto;
        grid-auto-rows: 450px auto;
        justify-content: center;
        column-gap: 40px;
    }
    .about-way {
        grid-column: 1/3;
        grid-row: 2/3;
        column-gap: 40px;
        grid-template-columns: 300px auto;
        grid-template-rows: 116px auto;
        grid-auto-rows: minmax(116px, auto);
    }
    .about-photo {
        width: 300px;
        height: 450px;
    }
    .icon.before::before {
        top: 40px;
        left: -43px;
    }
    .wand-horisontal {
        top: 25px;
        left: -52px;
        width: 9px;
    }
    ul {
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 300px auto;
       grid-auto-rows: auto;
       row-gap: 20px;
    }
    .usefull__block img {
        top: 55px;
        left: -43px;
    }
    .usefull__block h3 {
        margin-bottom: 15px;
    }
    .price-wrap {
        grid-template-columns: 1fr;
    }
    }

@media (max-width: 768px) {
    .section {
        padding-top: 80px;
    }
    .container {
            max-width: 540px;
        }
    .title-fs48 {
        font-size: 38px;
        line-height: 46px;
    }

    .about-wrapp {
        grid-template-columns: 270px 1fr;
        grid-template-rows: 450px auto;
        grid-auto-rows: minmax(300px, auto);
        justify-content: center;
        column-gap: 25px;
        row-gap: 25px;
    }
    .about-photo {
        width: 100%;
        height: 450px;
    }
    .about-biography .title-fs36 {
        font-size: 23px;
        line-height: 28px;
    }
    .about-way {
        grid-column: 1/3;
        grid-row: 2/3;
        column-gap: 15px;
        grid-template-columns: 280px auto;
        grid-template-rows: 116px auto;
        grid-auto-rows: minmax(116px, auto);
        font-size: 12px;
        line-height: 18px;
    }
    .usefull__block {
        column-gap: 90px;
        margin-right: 0px;
    }
    ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 380px auto;
        grid-auto-rows: auto;
        row-gap: 20px;
    }
    .i-use-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        justify-content: space-evenly;
    }
    .price-wrap {
        padding: 0px 10px;
        grid-template-columns: 1fr;
    }
    .contacts .about-wrapp {
        padding: 0px 20px;
    }
    .data-out {
        grid-template-columns: repeat(2, 240px);
    }
    .police span {
        display: inline-block;
        width: 205px;
    }
    form .btn {
        bottom: -6px;
    }
}

@media (max-width: 576px) {
    .section {
        padding-top: 40px;
    }
    .container {
            width: 100%;
            padding: 0px 10px;
        }
        .burger {
            right: 20px;
        }
        .menu__list {
            left: 55px;
        }
        .menu__block {
            width: 250px;
        }
        .title-fs48 {
            font-size: 26px;
            line-height: 39px;
        }
        .title-fs36 {
            top: 50px;
        }
        .title-fs16 {
            font-size: 13px;
            line-height: 22px;
        }
    
        .promo__link {
            top: 280px;
            margin-right: 20px;
        }
    
        .promo__btns {
            font-weight: 700;
            font-size: 13px;
            line-height: 20px;
        }
    
        .small-btn:hover {
            color: #000;
        }

        .about-biography .title-fs36 {
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
        }
        .about-photo {
            width: 300px;
            height: 450px;
            left: 5px;
        }
        .about-wrapp {
            grid-template-columns: 300px;
            grid-template-rows: 450px 420px;
            grid-auto-rows: minmax(116px, auto);
            row-gap: 25px;
            justify-content: center;
        }
        .about-biography {
            grid-row: 2;
            grid-column: 1;
            left: 10px;
        }
        .about-way {
            grid-template-columns: 300px;
            grid-template-rows: repeat(3, 116px);
            grid-auto-rows: minmax(116px, auto);
            grid-column: 1;
            grid-row: 3;
        }
        .about-padd {
            padding-left: 55px;
        }
        .abouit-me__descr {
            padding-right: 10px;
        }
    .usefull__block {
        grid-template-columns: 1fr;
        row-gap: 40px;
        margin: 55px 10px 0px 60px;
    }
    ul {
        grid-template-columns: 1fr;
        grid-template-rows: 240px auto;
        grid-auto-rows: auto;
        row-gap: 20px;
    }
    .title-usefull {
        font-size: 24px;
        line-height: 36px;
        margin-top: 20px;
    }
    .wand-down-mod {
        top: 105px;
    }
    .local {
        width: 168px;
    }
    .usefull__block .university-icon img {
        top: -33px;
    }
    .usefull__block .skill-work-icon img {
        top: -33px;
    }
    .icon.before::before {
        top: 4px;
        left: 0px;
    }
    .wand-horisontal {
        top: 21px;
        left: -111px;
        width: 52px;
    }
    .first-img {
        top: -33px;
    }
    .usefull__block img {
        top: -15px;
        left: 0px;
    }

    .i-use h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 0px;
    }
    .wand-i-use {
        top: 82px;
    }
    .i-use-grid {
        margin-right: 10px;
        margin-top: 40px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);
    }

    .percents {
        margin: 0px 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 70px);
        column-gap: unset;
    }
    .photo-wrap {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(1, 280px);
        grid-template-rows: repeat(6, 280px);
        justify-content: center;
        grid-auto-rows: 280px;
        gap: 5px;
    }
    .tall, .long{
        grid-row: unset;
        grid-column: unset;
    }
    .price-wrap {
        margin-top: 60px;
        padding: 0px 5px;
    }
    .price-list {
        font-size: 12px;
    }
    .contacts .about-wrapp {
        grid-template-columns: 300px;
        padding: 0px 10px;
    }
    .data-out {
        grid-template-columns: 300px;
        grid-template-rows: 45px 45px 190px;
    }
    .contacts .text-area {
        grid-column: unset;
        grid-row: unset;
    }
    .contacts .about-biography {
        grid-row: 1;
        grid-column: 1;
        left: 10px;
    }
    form .btn {
        bottom: -142px;
        left: 50%;
        transform: translateX(-50%);
    }
    .police {
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 202px;
    }
    .contacts .text-area input, textarea {
        width: 100%;
    }
    .contacts.section {
        margin-top: 20px;
    }
    .social-contacts {
        top: 184px;
    }
    .contacts .title-fs16-about {
        width: 200px;
    }
    .contacts .abouit-me__descr {
        width: 280px;
    }
}
@media (max-width: 352px) {
    .wand-i-use {
        top: 115px;
    }
}






