@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --main-blue: #BDE0F3;
    --main-orange: #FFA500;
    --main-color-text: #323a42;
}

*, *::after, *::before {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-color-text);
    list-style: none;
}
body {
    min-height: 100vh; 
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
    letter-spacing: 0.07rem;
}
img {
    width: 100%;
    display: block;
}
a {
    text-decoration: none;
}

.section {
    padding-top: 120px;
    min-height: 100vh;
    background-color: #fff;
}

.container {
    width: 1140px;
    margin: 0 auto;
    transform: scale(1.0);
}

.title {
    font-weight: 700;
}

.title-center {
    font-weight: 700;
    text-align: center;
    margin-bottom: 6px;
}

.before::before {
    content: '';
    position: absolute;
    left: -10px;
    top: -6px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--main-orange);
    z-index: -1;
}

/*! promo */

.promo {
    min-height: 100vh;
    position: relative;
    background: var(--main-blue) no-repeat url('../img/Background.jpg') 50%/cover;
}

.title-fs16 {
    position: relative;
    top:206px;
    left: 10px;
    font-size: 16px;
    line-height: 24px;
    z-index: 1;
}

.title-fs48 {
    position: relative;
    top: 239px;
    font-size: 48px;
}

.btn {
    display: inline-block;
    width: 135px;
    height: 45px;
    background: var(--main-orange);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: border-radius;
    transition-duration: 0.8s;
}
.btn:hover {
    border-radius: 50%;
    transition-property: border-radius;
    transition-duration: 0.5s;
}

.promo__link {
    position: relative;
    top: 270px;
    left: 26px;
    margin-right: 57px;
    text-align: center;
    line-height: 45px;
}

.small-btn {
    transition-property: font-size, color;
    transition-duration: 0.9s;
}
.small-btn:hover {
    font-size: 20px;
    color: var(--main-orange);
    transition-property: font-size, color;
    transition-duration: 0.5s;
}

.social-block {
    position: relative;
}

.social-wrap {
    position: fixed;
    top: 385px;
    left: -115px;
    z-index: 2;
    transform: rotate(-90deg);
}

.block-text {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.block-wand {
    display: inline-block;
    width: 70px;
    height: 2px;
    background-color: var(--main-color-text);
    margin: 0 15px 3px 15px;
}

.block-link {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 1px 0 1px;
    position: relative;
    bottom: -6px;
    transition-property: width, height;
    transition-duration: 1.2s;
}

.block-link:hover {
    width: 30px;
    height: 30px;
    transition-property: width, height;
    transition-duration: 0.8s;
}

.burger{
    position: absolute;
    top: 20px;
    right: 30px;
    transform: rotate(180deg);
    cursor: pointer;
}
.short-wand {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--main-color-text);
    border-radius: 3px;
}

.long-wand {
    display: block;
    width: 36px;
    height: 3px;
    background-color: var(--main-color-text);
    margin: 6px 0 6px 0;
    border-radius: 3px;
}

.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 10;
    left: -100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
}
.menu.active {
    left: 0;
    visibility: visible;
    opacity: 1;
}

.menu__block {
    position: relative;
    width: 345px;
    height: 100%;
    background-color: var(--main-orange);
    z-index: 10;
}

.menu__close img {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 29px;
    height: 29px;
    cursor: pointer;
}


.nav {
    position: relative;
}

.menu__list {
    position: relative;
    top: 140px;
    left: 75px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;  
    list-style: none; 
}

.menu__link {
    max-width: 270px;
}
.menu__link::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--main-orange);
    border: 1px solid var(--main-color-text);
    border-radius: 50%;
    left: -35px;
    margin-top: 10px; 
    transition: all 0.5s;
}
.menu__link:hover::before{
    background-color: rgb(255, 239, 223);
}
.menu__list a {
    color: #fff;
}

.menu__social {
    position: absolute;
    bottom: 55px;
    left: 128px;

}

.menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.75;
}

/*! ABOUT-ME*/


.about-wrapp {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-auto-rows: minmax(245px, auto);
    column-gap: 70px;
    row-gap: 40px;
}
.about-photo {
    grid-column: 1;
    grid-row: 1/3;
    position: relative;
    height: 600px;
    width: 400px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

.about-biography {
    position: relative;
}


.title-fs16-about {
    position: relative;
    top: 6px;
    left: 12px;
    font-size: 16px;
    line-height: 24px;
    z-index: 1;
}
.title-fs16-about.before::before {
    top: -6px;
    left: -12px;
}

.title-fs36 {
    position: absolute;
    font-size: 36px;
    line-height: 60px;
    top: 36px;
    left: 0px;
}

.wand-down {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 60px;
    height: 3px;
    background-color: var(--main-orange);
}
.abouit-me__descr {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    top: 120px;
    left: 0px;
}

.about-way {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(110px, auto);
    column-gap: 50px;
    row-gap: 20px;
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.title-about {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 6px;
}

.about-padd {
    position: relative;
    padding-left: 60px; 
}
.about-padd.before::before {
    top: 0px;
    left: 0px;
}

.figure img {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 25px;
    height: 24px;
}

/*!USEFULL*/

.title-skill.before::before {
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
}

.title-usefull {
    font-size: 36px;
    line-height: 60px;
    margin-top: 6px;
}

.wand-down-mod {
    top: 117px;
    left: 540px;
}

.usefull__block {
    position: relative;
    margin: 100px 60px 0px 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 186px;
}

.education h3, .skill-work h3 {
    font-size: 20px;
    line-height: 30px;
    margin: 0px 0px 45px 0px;
}

.usefull__block img {
    width: 20px;
    height: 25px;

}


.description {
    margin: 12px 0px 45px 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.head {
    position: relative;
}

.icon {
    margin: 0px 16px -6px 18px;
}

.icon.before::before {
    top: 4px;
    left: 0px;
}

.icon, .local, h4 {
    display: inline-block;
}

.h4 {
    font-size: 14px;
    line-height: 21px;
}
.loc {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.education, .skill-work {
    position: relative;
}

.litle.before::before {
    width: 15px;
    height: 15px;
    top: 7px;
    left: -59px;

}

.wand-vertical {
    position: absolute;
    top: 22px;
    left: -52px;
    background-color: var(--main-color-text);
    width: 1px;
    height: calc(100% - 70px);
}
.wand-horisontal {
    position: relative;
    top: 21px;
    left: -110px;
    background-color: var(--main-color-text);
    width: 51px;
    height: 1px;
}

/*! i-use */

.h2-i-use {
    position: static;
    margin-bottom: 25px;
}

.wand-i-use {
    left: 50%;
    transform: translateX(-50%);
}

.before-skills.before::before {
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
}

.i-use-flex {
    margin: 60px 0px 0px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.svg-flex {
    margin: 0px 13px 13px 0px;
    width: 269.5px;
    min-height: 270px;
    transition: all 0.9s;
}

.svg-flex:hover {
    width: 310px;
    height: 310px;
    transition: all 0.6s;
}

.percents {
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 70px);
    column-gap: 45px;
    row-gap: 38px;
}

.percents-col {
    position: relative;
    padding-left: 10px;
}

.percents-col h3 {
    font-size: 14px;
    line-height: 21px;
}

.percents h3.before::before {
    top: -7px;
    left: 0px;
}

.percents-col h3 span {
    position: absolute;
    right: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.volum {
    margin-top: 27px;
    border-radius: 4px;
    height: 14px;
    background-color: var(--main-orange);
}
.volum span {
    display: inline-block;
    position: relative;
    top: -4px;
    z-index: -1; 
    border-radius: 4px;
    height: 14px;
    width: 350px;
    background-color: #E8E4DE;
}

/*! PORTFOLIO-PHOTO*/

.portfolio-photo-href {
    position: relative;
}

.before-porfolio {
    position: relative;
    top: 0px;
    z-index: 1;
}
.before-porfolio.before::before {
    left: 50%;
    transform: translateX(-50%);
}

.photo-wrap {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 280px);
    grid-auto-rows: 280px;
    gap: 5px;
}
.portfolio-photo-href .wand-down {
    left: 50%;
    transform: translateX(-50%);
}

.tall {
    grid-row: 1/3;
    grid-column: 4/5;
}
.long{
    grid-row: 2/3;
    grid-column: 2/4 ;
}
.photo img {
    transition: all 0.5s;
}
.photo img:hover {
    transform: scale(1.05);
    border-radius: 3px;
    filter: brightness(110%);
    transition: all 0.5s;
}




